.server-info{
    /*background: rgb(190, 236, 24);*/
    margin-bottom: 10px;
}

.server-info_item{
    margin: 10px 0;
    padding: 1rem;

    background: rgb(115, 111, 30);
    text-align: center;
    font-size: .8rem;
    color: white;
}
